table {
  background-color: gainsboro;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

tbody button {
  width: 1.1em;
  height: 1.1em;
  float: left;

  font-size: 1em;
  font-weight: bold;
  padding: 1px;
  line-height: 1px;
  
  border-color: #bbb;
}

.clicked {
  border: 1px solid #999;
  background: lightgray;
}

.color1 {
  color: blue;
}

.color2 {
  color: green;
}

.color3 {
  color: red;
}

.color4 {
  color: purple;
}

tfoot {
  text-align: center;
  padding: 0;
}